appdirs==1.4.0
cffi==1.8.3
cycler==0.10.0
decorator==4.0.10
Mako==1.0.4
MarkupSafe==0.23
matplotlib==1.5.3
numpy==1.11.2rc1
OpenEXR==1.2.0
Pillow==3.3.1
py==1.4.31
pycparser==2.14
pyopencl==2016.2
PyOpenGL==3.1.0
pyparsing==2.1.9
pytest==3.0.2
python-dateutil==2.5.3
pytools==2016.2.1
pytz==2016.6.1
six==1.10.0
